In [12]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists

In [13]:
connection = "mysql+pymysql://root:root@localhost/books"

In [14]:
engine = create_engine(connection)

In [15]:
if database_exists(connection) == False: create_database(connection)
else: print('Already exists')

Already exists

In [16]:
df = pd.read_csv('Data/authors.csv')
df.head()

   id        author_name
0   1       Stephen King
1   2  F.Scott Fitgerald
2   3        Jack London
3   4        Jane Austen
4   5       Mary Shelley

In [17]:
df.to_sql('authors', engine, if_exists = 'replace')

In [18]:
df = pd.read_csv('Data/books.csv')
df.to_sql('books', engine, if_exists = 'replace')

In [19]:
df = pd.read_csv('Data/favorites.csv')
df.to_sql('favorites', engine, if_exists = 'replace')

In [20]:
df = pd.read_csv('Data/users.csv')
df.to_sql('users', engine, if_exists = 'replace')

![png](books.png)

In [21]:
q = """SELECT 
books.title,
favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));"""
pd.read_sql(q,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1