In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine

In [2]:
connection = "mysql+pymysql://root:root@localhost/books"

In [3]:
engine = create_engine(connection)

![png](books.png)

In [12]:
q = """SELECT 
books.title,
favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));"""
pd.read_sql(q,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1